@import url("https://fonts.googleapis.com/css2?family=Material+Icons&display=swap");
@import 'reset.css';

body {
  background-color: #eaf4ff;
}

a {
  text-decoration: none;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  background: #c10623;
}

.btn:hover {
  font-weight: 400;
  color: #333;
  opacity: 0.8;
}

.btn-submit {
  background: #0256aa;
}

.header {
  height: 10vh;
  align-items: center;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.nav {
  display: flex;
  align-items: center;
  height: inherit;
}

.nav-list {
  display: flex;
}

.nav-link {
  font-size: 1.5rem;
}

.nav-item {
  font-weight: 600;
  margin-right: 20px;
  cursor: pointer;
  font-size: 1.3rem;
}

.nav-item:hover {
  color: #ffb64d;
}

.nav-item:nth-last-of-type(3) {
  text-decoration: underline;
}

.main {
  padding: 20px 0;
}

.main,
.nav {
  width: 60%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.food-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.food-container {
  flex-direction: column;
  background: #eee;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}

.food-container:hover {
  box-shadow: 0 4px 8px 0 rgba(22, 9, 211, 0.2), 0 6px 20px 0 rgba(22, 9, 211, 0.19);
}

.meal-thumb {
  max-width: 100%;
  object-fit: cover;
}

.item-name {
  color: #0256aa;
  padding: 0 10px;
  font-weight: 600;
  font-size: 1.1rem;
}

.details-div {
  align-items: center;
  justify-content: space-between;
}

.footer {
  padding: 15px 0;
  background: inherit;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.footer p {
  text-align: center;
  font-size: 1.1rem;
  color: #b36b6b;
}

.content {
  position: relative;
}

.content.open-modal .root {
  filter: blur(5px);
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  margin: 0;
  overflow: auto;
  display: none;
  visibility: hidden;
}

.modal {
  margin: 0;
  height: auto;
  padding: 20px;
  width: 100%;
}

.modal-content {
  width: 50%;
  margin: 0 auto;
  padding: 5rem;
  background-color: #eaf4ff;
  border-radius: 15px;
  position: relative;
}

.content.open-modal .modal-overlay {
  display: block;
  visibility: visible;
}

.modal-header {
  height: 50vh;
}

.modal-header span {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #454d66;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #eee;
  padding: 10px;
  cursor: pointer;
}

.modal-header span:hover {
  opacity: 0.8;
}

.modal-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.close-icon {
  font-size: 5rem;
  align-self: flex-start;
}

.brief-details {
  margin-bottom: 2.5rem;
}

.brief-details h3 {
  font-size: 2rem;
  text-align: center;
  padding: 10px 0;
}

.list-details {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.tag {
  font-size: 1.35rem;
  margin: auto;
}

.likes-div {
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.likes-count {
  padding: 5px;
  color: #c10623;
  font-weight: 600;
}

.like-icon {
  cursor: pointer;
  width: 10px;
  height: 10px;
  position: relative;
  background-color: #ffb64d;
  transform: rotate(45deg);
  padding: 2px;
}

.like-icon::before,
.like-icon::after {
  position: absolute;
  content: '';
  background-color: #ffb64d;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.like-icon::after {
  left: 0;
  top: -50%;
}

.like-icon:hover::before,
.like-icon:hover::after,
.like-icon:hover {
  background-color: #b36b6b;
}

.comments h4 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.comment-list {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.comment {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.comment-form h6 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.comment-form form {
  margin: 0 auto;
}

.field {
  margin-bottom: 1rem;
}

.input,
.textarea {
  outline: none;
  border: 1px solid #000;
  padding: 0.5rem;
}

.logo {
  width: 20vw;
  margin-right: 10%;
}

.logo-img {
  width: 100%;
  border-radius: 30%;
}
