@import url("https://fonts.googleapis.com/css2?family=Material+Icons&display=swap");
@import 'reset.css';

body {
  background-color: #fff;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.material-icons {
  cursor: pointer;
}

.header {
  margin-bottom: 3rem;
}

.nav {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.nav-list {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-left: auto;
}

.nav-link {
  font-size: 1.5rem;
}

.main {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}

.d-flex {
  display: flex;
}

.food-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.food-container {
  flex-direction: column;
}

.meal-thumb {
  width: 100%;
}

.details-div {
  align-items: center;
  justify-content: space-between;
}

.footer p {
  padding-left: 3rem;
  padding-bottom: 3rem;
  font-size: 1.3rem;
}

.content {
  position: relative;
}

.content.open-modal .root {
  filter: blur(4px);
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  margin: 0;
  overflow: auto;
  display: none;
  visibility: hidden;
}

.modal {
  margin: 0;
  height: auto;
  padding: 20px;
  width: 100%;
}

.modal-content {
  width: 50%;
  margin: 0 auto;
  padding: 5rem;
  background: #fff;
}

.content.open-modal .modal-overlay {
  display: block;
  visibility: visible;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin-bottom: 1rem;
}

.modal-img {
  width: 90%;
  height: 200px;
}

.close-icon {
  font-size: 5rem;
  align-self: flex-start;
}

.brief-details {
  margin-bottom: 2.5rem;
}

.brief-details h3 {
  font-size: 3rem;
  text-align: center;
}

.list-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tag {
  font-size: 1.5rem;
}

.likes-div {
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.likes-count {
  padding: 5px;
}

.like-icon {
  cursor: pointer;
  width: 10px;
  height: 10px;
  position: relative;
  background-color: #ffb64d;
  transform: rotate(45deg);
  padding: 2px;
}

.like-icon::before,
.like-icon::after {
  position: absolute;
  content: '';
  background-color: #ffb64d;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.like-icon::after {
  left: 0;
  top: -50%;
}

.like-icon:hover::before,
.like-icon:hover::after,
.like-icon:hover {
  background-color: #b36b6b;
}
